@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=vietnamese');
$primary_color: #0796ff;
$highlight_color: #fb7604;
$border_color: #b7c5ce;
$border_radius: 4px;
$text_color: #000;
$text-size-normal: 14px;
$text-size-small: 12px;
$font-family: 'Roboto',sans-serif;
$background-color: #f4f7fb;
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1.5rem;
    line-height: initial;
}
button {
    &:focus {
        outline: none;
    }
}

.color-primary {
    color: $primary_color;
}

a.color-primary,
button.color-primary {
    &:hover {
        color: $highlight_color;
    }
}

a.color-highlight,
button.color-highlight {
    &:hover {
        color: $primary_color;
    }
}

.color-highlight {
    color: $highlight_color !important;
}

.background-primary {
    background: $primary_color;
}

.background-highlight {
    background: $highlight_color;
}

.font-weight-500 {
    font-weight: 500;
}

.font-size-18px {
    font-size: 18px !important;
}

.font-size-16px {
    font-size: 16px !important;
}

.font-size-12px {
    font-size: 12px !important;
}

.p-15px {
    padding: 15px;
}

.list-style-none {
    list-style: none;
}

body {
    font-family: $font-family;
    font-size: 14px;
    line-height: 24px;
    background: $background-color;
}

.required {
    font-weight: bold;
    color: #f00;
}

img {
    max-width: 100%;
    width: inherit;
    height: inherit;
}

a {
    transition: all 0.3s ease;

    &:hover {
        text-decoration: none;
        color: $highlight_color;
    }
}

.header {
    border-bottom: 1px solid $border_color;
}

.footer {
    border-top: 1px solid $border_color;
    padding-top: 30px;

    #accordionFooter {
        .btn {
            padding: 0;
            border: 0;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 15px;
            text-decoration: none;

            &:focus {
                outline: none;
                border: 0;
                box-shadow: none;
            }

            &:hover {
                cursor: auto;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;
            }
        }

        a {
            color: #000;

            &:hover {
                color: $primary_color;
            }
        }
    }

    .footer-bottom {
        background: #f4f7fb;
        padding: 20px 0 30px;
        font-size: 12px;
        color: #666;
        border-top: 1px solid #eee;

        .logo-dathongbao {
            height: 50px;
        }
    }
}

.highlight {
    color: $highlight_color;
}

.pagination {
    .page-item {
        margin: 0 5px;

        .page-link {
            border-radius: 4px;
            padding: 0;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 34px;

            i.mdi {
                font-size: 24px;
            }
        }
    }

    .page-item.active {
        .page-link {
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }
}

.form-control {
    border-radius: 0;
    border-color: #e1e1e1;
    font-size: 14px;
    color: #000;
    height: 40px;
    font-family: $font-family;
}

select.form-control {
    background: #fff;
}

.vs__dropdown-toggle {
    border-color: $border_color;
    border-radius: 5px;
    height: 40px;

    .vs__selected-options {
        padding-left: 5px;
    }

    .vs__open-indicator {
        fill: #999;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

.vs--open {
    .vs__dropdown-toggle {
        .vs__open-indicator {
            -webkit-transform: rotate(180deg) scale(0.75);
            transform: rotate(180deg) scale(0.75);
        }
    }
}

.vs__dropdown-menu {
    border-color: $border_color;

    .vs__dropdown-option {
        padding: 7px 15px;
        font-weight: 500;
    }

    .vs__dropdown-option--highlight {
        background: $primary_color;
    }
}

.btn-primary {
    padding: 10px 25px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: initial;
    vertical-align: middle;

    i {
        vertical-align: middle;
        margin-left: 10px;
        font-size: 20px;
    }
}

.no-data-found {
    img {
        width: 120px;
    }
}

.back-home {
    background: #0796ff;
    color: #fff;

    i {
        margin-right: 5px;
        font-size: 20px;
        vertical-align: middle;
    }

    &:hover {
        background: $highlight_color;
        color: #fff;
    }
}

body.has-modal {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.65);
        }
    }
}

.modal.show {
    display: block;
}

.modal {
    .modal-header {
        h3 {
            margin: 0;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: normal;
        }
    }
}

.nav-tabs {
    border: 0;

    .nav-link {
        border: 0;
        padding: 10px 0;
        text-transform: uppercase;
        margin-right: 30px;
        border-radius: 0;
        color: $primary_color;
        border-bottom: 3px solid transparent;

        &:hover {
            color: $highlight_color;
        }
    }

    .nav-link.active, .nav-item.show .nav-link {
        border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-bottom: 3px solid $primary_color;
        color: $primary_color;

        &:hover {
            color: $primary_color;
        }
    }
}

.flatpickr-months {
    .flatpickr-month {
        margin-bottom: 10px;
        margin-top: 10px;

        span.cur-month {
            font-weight: normal;
            color: $primary_color;

            &:hover {
                background: none;
            }
        }

        .numInputWrapper {

            &:hover {
                background: none;
            }
        }

        input.cur-year {
            color: $primary_color;
        }

        .flatpickr-prev-month, .flatpickr-next-month {
            top: 6px;
            height: inherit;
        }
    }

    span.flatpickr-weekday {
        font-weight: 500;
    }
}
/*// ================================================================  */
.lbl-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
    cursor: pointer;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid #ddd;
        border-radius: 3px;
    }

    &:hover input[type="checkbox"] ~ .checkmark {
        background-color: #fff;
    }

    input:checked ~ .checkmark {
        background-color: #fff;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 5px;
        top: 1px;
        width: 6px;
        height: 12px;
        border: solid $primary_color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.radio {
    margin: 0 0 15px;
    position: relative;
    padding-left: 24px;

    .radio-label {
        display: block;
        margin-bottom: 3px;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        ~ .radio-label {
            &:before {
                content: '';
                background: #fff;
                border-radius: 100%;
                border: 1px solid #aaa;
                display: inline-block;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 1px;
                left: 0;
                margin-right: 10px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 0.3s ease;
            }
        }

        &:checked {
            ~ .radio-label {
                &:before {
                    background-color: $highlight_color;
                    box-shadow: inset 0 0 0 4px #fff;
                }
            }
        }

        &:focus {
            ~ .radio-label {
                &:before {
                    outline: none;
                    border-color: $highlight_color;
                }
            }
        }

        &:disabled {
            ~ .radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px $primary_color;
                    border-color: darken($primary_color, 25%);
                    background: darken($primary_color, 25%);
                }
            }
        }

        ~ .radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

.main-nav {
    background: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;

    .navbar-brand {
        padding: 0;

        img {
            margin: 15px 30px 15px 0;
            max-height: 40px;
        }

        &:focus {
            outline: none;
        }
    }

    .navbar-nav {
        .nav-link {
            display: block;
            padding: 0 16px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            line-height: 70px;

            &:hover {
                color: $highlight_color;
            }
        }

        .dropdown-toggle::after {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            content: "\F0140";
            vertical-align: middle;
            color: #848484;
            font-size: 18px;
            border: 0;
            margin-left: 0;
        }

        .dropdown-menu {

            .dropdown-item {
                list-style: none;
                margin: 0;
                font-weight: 500;
                font-size: 14px;
                line-height: normal;
                text-transform: capitalize;
                padding: 13px 16px;

                &:hover {
                    background: none;
                    color: $highlight_color;
                }
            }
        }
    }

    .dropdown-menu {
        background: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 6px 6px;
        min-width: 230px;
        border: 0;
        margin-top: 0;
        border: 1px solid $border_color;
    }

    .drop-support {

        .dropdown-menu {
            &:before {
                right: 30px;
            }

            &:after {
                right: 30px;
            }
        }
    }

    .nav-right {
        align-items: center;

        .nav-link {
            font-size: 12px;
            font-weight: normal;
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            padding: 20px 15px;
            font-size: inherit;
            min-width: 260px;
        }

        .ic-flag {
            vertical-align: middle;
            width: 29px;
            height: 18px;
            display: inline-block;
            margin-right: 7px;
            margin-top: -1px;
        }

        .flag-vi {
            background: url(../images/vn.png) no-repeat center center;
            background-size: contain
        }

        .d-flex {
            align-items: center;
        }

        .drop-account {
            .nav-link {
                position: relative;
                font-size: 14px;
                color: #fff;

                &:before {
                    content: '';
                    line-height: 30px;
                    padding: 0 15px;
                    background-color: $primary_color;
                    border-radius: 4px;
                    display: block;
                    left: 0;
                    right: 0;
                    top: 20px;
                    bottom: 20px;
                    position: absolute;
                    z-index: 0;
                }

                .text {
                    position: relative;
                    z-index: 1;
                }

                &:hover {
                    &:before {
                        background: $highlight_color;
                    }
                }
            }

            .dropdown-menu {
                .accountLogin {
                    background: $primary_color;
                    border-color: $primary_color;

                    &:hover {
                        background: $highlight_color;
                        border-color: $highlight_color;
                    }
                }
            }

            .operator-booking {
                .btn-primary {
                    background: $highlight_color;
                    border-color: $highlight_color;

                    &:hover {
                        background: $primary_color;
                        border-color: $primary_color;
                    }
                }
            }

            .logout {
                color: #000;
                i.mdi {
                    font-size: 20px;
                }

                &:hover {
                    color: $primary_color;
                }
            }
        }

        #aUserInfo {
            padding: 0 15px;
            background-color: $primary_color;
            border-radius: 4px;
            border: 0;
            line-height: 30px;
            color: #fff;
            text-transform: capitalize;
        }

        .drop-support {
            .phone-label {
                color: #555;
                font-size: 13px;
            }

            .phone-num {
                font-size: 24px;
                margin: 7px 0;
                font-weight: 500;
                line-height: initial;
            }
        }

        .link-mobile {
            .mdi-cellphone-android {
                font-size: 24px;
                padding-top: 1px;
                display: block;
                color: #607D8B;
            }
        }

        .dropdown-menu {
            &:before {
                content: '';
                border: 11px solid transparent;
                border-bottom-color: $border_color;
                position: absolute;
                top: -22px;
                right: 36px;
            }

            &:after {
                content: '';
                border: 11px solid transparent;
                border-bottom-color: #fff;
                position: absolute;
                top: -21px;
                right: 36px;
            }
        }
    }
}

.title-page {
    display: block;
    background: #fff;
    padding: 30px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);

    h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: initial;
        margin: 0;
    }
}

.breadcrumb {
    font-size: 13px;

    li {
        &:last-child {
            margin-right: 0 !important;
        }

        a {
            color: #999;

            &:hover {
                color: $primary_color;
            }
        }

        .active {
            color: #333;

            &:hover {
                color: #333;
            }

            i {
                display: none;
            }
        }
    }
}

.images-gallery {
    .flex-direction-nav {
        .flex-prev {
            left: 15px;
        }

        .flex-next {
            right: 15px;
        }
    }
    .flex-control-paging {
        display: none;
    }

    .flexslider {
        &:hover {
            .flex-direction-nav {
                .flex-prev {
                    left: 15px;
                }

                .flex-next {
                    right: 15px;
                }
            }
        }
    }
}
.flexslider {
    .slides {
        display: flex;
        align-items: center;
    }
}
.error-message {
    color: #f00;
    display: block;
    margin-top: 7px;
}
.alert.alert-warning.error {
    color: #f00;
}
figure.caption {
    margin: 0 0 1.5rem;

    figcaption {
        font-size: 13px;
        color: #666;
        text-align: center;
        margin-top: 10px;
    }
}
.detail {
    img {
        width: initial !important;
        height: initial !important;
    }
}