@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=vietnamese");
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.5rem;
  line-height: initial; }

button:focus {
  outline: none; }

.color-primary {
  color: #0796ff; }

a.color-primary:hover,
button.color-primary:hover {
  color: #fb7604; }

a.color-highlight:hover,
button.color-highlight:hover {
  color: #0796ff; }

.color-highlight {
  color: #fb7604 !important; }

.background-primary {
  background: #0796ff; }

.background-highlight {
  background: #fb7604; }

.font-weight-500 {
  font-weight: 500; }

.font-size-18px {
  font-size: 18px !important; }

.font-size-16px {
  font-size: 16px !important; }

.font-size-12px {
  font-size: 12px !important; }

.p-15px {
  padding: 15px; }

.list-style-none {
  list-style: none; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #f4f7fb; }

.required {
  font-weight: bold;
  color: #f00; }

img {
  max-width: 100%;
  width: inherit;
  height: inherit; }

a {
  transition: all 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #fb7604; }

.header {
  border-bottom: 1px solid #b7c5ce; }

.footer {
  border-top: 1px solid #b7c5ce;
  padding-top: 30px; }
  .footer #accordionFooter .btn {
    padding: 0;
    border: 0;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    text-decoration: none; }
    .footer #accordionFooter .btn:focus {
      outline: none;
      border: 0;
      box-shadow: none; }
    .footer #accordionFooter .btn:hover {
      cursor: auto; }
  .footer #accordionFooter ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer #accordionFooter ul li {
      margin-bottom: 10px; }
  .footer #accordionFooter a {
    color: #000; }
    .footer #accordionFooter a:hover {
      color: #0796ff; }
  .footer .footer-bottom {
    background: #f4f7fb;
    padding: 20px 0 30px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #eee; }
    .footer .footer-bottom .logo-dathongbao {
      height: 50px; }

.highlight {
  color: #fb7604; }

.pagination .page-item {
  margin: 0 5px; }
  .pagination .page-item .page-link {
    border-radius: 4px;
    padding: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 34px; }
    .pagination .page-item .page-link i.mdi {
      font-size: 24px; }

.pagination .page-item.active .page-link {
  background-color: #0796ff;
  border-color: #0796ff; }

.form-control {
  border-radius: 0;
  border-color: #e1e1e1;
  font-size: 14px;
  color: #000;
  height: 40px;
  font-family: "Roboto", sans-serif; }

select.form-control {
  background: #fff; }

.vs__dropdown-toggle {
  border-color: #b7c5ce;
  border-radius: 5px;
  height: 40px; }
  .vs__dropdown-toggle .vs__selected-options {
    padding-left: 5px; }
  .vs__dropdown-toggle .vs__open-indicator {
    fill: #999;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

.vs--open .vs__dropdown-toggle .vs__open-indicator {
  -webkit-transform: rotate(180deg) scale(0.75);
  transform: rotate(180deg) scale(0.75); }

.vs__dropdown-menu {
  border-color: #b7c5ce; }
  .vs__dropdown-menu .vs__dropdown-option {
    padding: 7px 15px;
    font-weight: 500; }
  .vs__dropdown-menu .vs__dropdown-option--highlight {
    background: #0796ff; }

.btn-primary {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: initial;
  vertical-align: middle; }
  .btn-primary i {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 20px; }

.no-data-found img {
  width: 120px; }

.back-home {
  background: #0796ff;
  color: #fff; }
  .back-home i {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle; }
  .back-home:hover {
    background: #fb7604;
    color: #fff; }

body.has-modal {
  overflow: hidden; }
  body.has-modal .modal {
    overflow-x: hidden;
    overflow-y: auto; }
    body.has-modal .modal::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.65); }

.modal.show {
  display: block; }

.modal .modal-header h3 {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: normal; }

.nav-tabs {
  border: 0; }
  .nav-tabs .nav-link {
    border: 0;
    padding: 10px 0;
    text-transform: uppercase;
    margin-right: 30px;
    border-radius: 0;
    color: #0796ff;
    border-bottom: 3px solid transparent; }
    .nav-tabs .nav-link:hover {
      color: #fb7604; }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 3px solid #0796ff;
    color: #0796ff; }
    .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.show .nav-link:hover {
      color: #0796ff; }

.flatpickr-months .flatpickr-month {
  margin-bottom: 10px;
  margin-top: 10px; }
  .flatpickr-months .flatpickr-month span.cur-month {
    font-weight: normal;
    color: #0796ff; }
    .flatpickr-months .flatpickr-month span.cur-month:hover {
      background: none; }
  .flatpickr-months .flatpickr-month .numInputWrapper:hover {
    background: none; }
  .flatpickr-months .flatpickr-month input.cur-year {
    color: #0796ff; }
  .flatpickr-months .flatpickr-month .flatpickr-prev-month, .flatpickr-months .flatpickr-month .flatpickr-next-month {
    top: 6px;
    height: inherit; }

.flatpickr-months span.flatpickr-weekday {
  font-weight: 500; }

/*// ================================================================  */
.lbl-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .lbl-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .lbl-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #ddd;
    border-radius: 3px; }
  .lbl-checkbox:hover input[type="checkbox"] ~ .checkmark {
    background-color: #fff; }
  .lbl-checkbox input:checked ~ .checkmark {
    background-color: #fff; }
  .lbl-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .lbl-checkbox input:checked ~ .checkmark:after {
    display: block; }
  .lbl-checkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #0796ff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.radio {
  margin: 0 0 15px;
  position: relative;
  padding-left: 24px; }
  .radio .radio-label {
    display: block;
    margin-bottom: 3px; }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .radio input[type="radio"] ~ .radio-label:before {
      content: '';
      background: #fff;
      border-radius: 100%;
      border: 1px solid #aaa;
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 1px;
      left: 0;
      margin-right: 10px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease; }
    .radio input[type="radio"]:checked ~ .radio-label:before {
      background-color: #fb7604;
      box-shadow: inset 0 0 0 4px #fff; }
    .radio input[type="radio"]:focus ~ .radio-label:before {
      outline: none;
      border-color: #fb7604; }
    .radio input[type="radio"]:disabled ~ .radio-label:before {
      box-shadow: inset 0 0 0 4px #0796ff;
      border-color: #004e87;
      background: #004e87; }
    .radio input[type="radio"] ~ .radio-label:empty:before {
      margin-right: 0; }

.main-nav {
  background: #fff;
  border: 0;
  border-radius: 0;
  padding: 0; }
  .main-nav .navbar-brand {
    padding: 0; }
    .main-nav .navbar-brand img {
      margin: 15px 30px 15px 0;
      max-height: 40px; }
    .main-nav .navbar-brand:focus {
      outline: none; }
  .main-nav .navbar-nav .nav-link {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 70px; }
    .main-nav .navbar-nav .nav-link:hover {
      color: #fb7604; }
  .main-nav .navbar-nav .dropdown-toggle::after {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    content: "\F0140";
    vertical-align: middle;
    color: #848484;
    font-size: 18px;
    border: 0;
    margin-left: 0; }
  .main-nav .navbar-nav .dropdown-menu .dropdown-item {
    list-style: none;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    text-transform: capitalize;
    padding: 13px 16px; }
    .main-nav .navbar-nav .dropdown-menu .dropdown-item:hover {
      background: none;
      color: #fb7604; }
  .main-nav .dropdown-menu {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 6px 6px;
    min-width: 230px;
    border: 0;
    margin-top: 0;
    border: 1px solid #b7c5ce; }
  .main-nav .drop-support .dropdown-menu:before {
    right: 30px; }
  .main-nav .drop-support .dropdown-menu:after {
    right: 30px; }
  .main-nav .nav-right {
    align-items: center; }
    .main-nav .nav-right .nav-link {
      font-size: 12px;
      font-weight: normal; }
    .main-nav .nav-right .dropdown-toggle::after {
      display: none; }
    .main-nav .nav-right .dropdown-menu {
      padding: 20px 15px;
      font-size: inherit;
      min-width: 260px; }
    .main-nav .nav-right .ic-flag {
      vertical-align: middle;
      width: 29px;
      height: 18px;
      display: inline-block;
      margin-right: 7px;
      margin-top: -1px; }
    .main-nav .nav-right .flag-vi {
      background: url(../images/vn.png) no-repeat center center;
      background-size: contain; }
    .main-nav .nav-right .d-flex {
      align-items: center; }
    .main-nav .nav-right .drop-account .nav-link {
      position: relative;
      font-size: 14px;
      color: #fff; }
      .main-nav .nav-right .drop-account .nav-link:before {
        content: '';
        line-height: 30px;
        padding: 0 15px;
        background-color: #0796ff;
        border-radius: 4px;
        display: block;
        left: 0;
        right: 0;
        top: 20px;
        bottom: 20px;
        position: absolute;
        z-index: 0; }
      .main-nav .nav-right .drop-account .nav-link .text {
        position: relative;
        z-index: 1; }
      .main-nav .nav-right .drop-account .nav-link:hover:before {
        background: #fb7604; }
    .main-nav .nav-right .drop-account .dropdown-menu .accountLogin {
      background: #0796ff;
      border-color: #0796ff; }
      .main-nav .nav-right .drop-account .dropdown-menu .accountLogin:hover {
        background: #fb7604;
        border-color: #fb7604; }
    .main-nav .nav-right .drop-account .operator-booking .btn-primary {
      background: #fb7604;
      border-color: #fb7604; }
      .main-nav .nav-right .drop-account .operator-booking .btn-primary:hover {
        background: #0796ff;
        border-color: #0796ff; }
    .main-nav .nav-right .drop-account .logout {
      color: #000; }
      .main-nav .nav-right .drop-account .logout i.mdi {
        font-size: 20px; }
      .main-nav .nav-right .drop-account .logout:hover {
        color: #0796ff; }
    .main-nav .nav-right #aUserInfo {
      padding: 0 15px;
      background-color: #0796ff;
      border-radius: 4px;
      border: 0;
      line-height: 30px;
      color: #fff;
      text-transform: capitalize; }
    .main-nav .nav-right .drop-support .phone-label {
      color: #555;
      font-size: 13px; }
    .main-nav .nav-right .drop-support .phone-num {
      font-size: 24px;
      margin: 7px 0;
      font-weight: 500;
      line-height: initial; }
    .main-nav .nav-right .link-mobile .mdi-cellphone-android {
      font-size: 24px;
      padding-top: 1px;
      display: block;
      color: #607D8B; }
    .main-nav .nav-right .dropdown-menu:before {
      content: '';
      border: 11px solid transparent;
      border-bottom-color: #b7c5ce;
      position: absolute;
      top: -22px;
      right: 36px; }
    .main-nav .nav-right .dropdown-menu:after {
      content: '';
      border: 11px solid transparent;
      border-bottom-color: #fff;
      position: absolute;
      top: -21px;
      right: 36px; }

.title-page {
  display: block;
  background: #fff;
  padding: 30px 0;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }
  .title-page h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: initial;
    margin: 0; }

.breadcrumb {
  font-size: 13px; }
  .breadcrumb li:last-child {
    margin-right: 0 !important; }
  .breadcrumb li a {
    color: #999; }
    .breadcrumb li a:hover {
      color: #0796ff; }
  .breadcrumb li .active {
    color: #333; }
    .breadcrumb li .active:hover {
      color: #333; }
    .breadcrumb li .active i {
      display: none; }

.images-gallery .flex-direction-nav .flex-prev {
  left: 15px; }

.images-gallery .flex-direction-nav .flex-next {
  right: 15px; }

.images-gallery .flex-control-paging {
  display: none; }

.images-gallery .flexslider:hover .flex-direction-nav .flex-prev {
  left: 15px; }

.images-gallery .flexslider:hover .flex-direction-nav .flex-next {
  right: 15px; }

.flexslider .slides {
  display: flex;
  align-items: center; }

.error-message {
  color: #f00;
  display: block;
  margin-top: 7px; }

.alert.alert-warning.error {
  color: #f00; }

figure.caption {
  margin: 0 0 1.5rem; }
  figure.caption figcaption {
    font-size: 13px;
    color: #666;
    text-align: center;
    margin-top: 10px; }

.detail img {
  width: initial !important;
  height: initial !important; }
