$primary_color: #0796ff;
$highlight_color: #fb7604;
$border_color: #b7c5ce;
$border_radius: 4px;
$text_color: #000;
$text-size-normal: 14px;
$text-size-small: 12px;
$font-family: 'Roboto',sans-serif;
$background-color: #f4f7fb;
$box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 992px) {
    .main-nav {
        .nav-item {
            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }

    #accordionFooter {
        .collapse {
            display: block !important;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        .navbar {
            .container {
                position: relative;

                .navbar-toggler {
                    position: absolute;
                    left: 15px;
                    top: 10px;
                    border: 0;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .navbar-brand {
                img {
                    height: 27px;
                    margin-left: 70px;
                    margin-right: 0;
                }
            }

            .nav-link {
                line-height: 55px;
            }

            .nav-right {
                .drop-account {
                    .nav-link {
                        &:before {
                            top: 12px;
                            bottom: 12px;
                        }
                    }
                }

                .dropdown-menu {
                    position: absolute;
                }
            }

            .navbar-collapse {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 999;
                background: #fff;
                padding: 20px 10px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                box-shadow: 0 6px 12px rgba(0,0,0,.5);
                border-top: 3px solid $primary_color;
                max-width: 360px;

                .nav-item {
                    .nav-link {
                        line-height: 30px;
                        padding: 5px 10px;
                        font-size: 16px;
                    }
                }

                .dropdown-menu {
                    box-shadow: none;
                    border: 0;
                    padding: 0 0 0 12px;

                    .dropdown-item {
                        font-size: 16px;
                    }
                }

                .dropdown-toggle {
                    &:after {
                        float: right;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .title-page {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .page-list-tour {
        .title-page {
            box-shadow: $box-shadow;
            display: flex;
            align-items: center;
            padding: 10px 0;

            h1 {
                margin-right: 10px;
            }

            .btn {
                margin-left: auto;
                padding: 0;
                width: 40px;
                height: 40px;
                background: #f68d1f;
                border-color: #f68d1f;
                color: #fff;

                i {
                    margin-left: 0;
                }
            }
        }
    }
    .tab-payment {
        .nav {
            width: inherit;
            padding: 5px;
            justify-content: center;
            border: 0;
        }
        .tab-content {
            border-top: 0;
            border-left: 5px solid $primary_color;
        }

        .nav-pills {
            .nav-link {
                padding: 5px 12px;
                border-radius: 20px !important;
            }
        }
    }
    .page-tour-paymentinfo {
        .btn-primary {
            position: inherit !important;
        }
    }
    .slider-partners .flex-direction-nav {
        display: none;
        visibility: hidden;
    }
    .page-tour-tourdetail {
        .flex-direction-nav {
            display: none;
        }
    }
}

@media only screen and (max-width: 767px) {
    .title-page {
        h1 {
            font-size: 18px;
        }
    }

    .page-tour-tourdetail {

        .images-gallery {
            #carousel {
                padding-left: 5px;
                padding-right: 5px;
            }

            #slider {
                .slides {
                    li {
                        height: 360px;
                    }
                }
            }
        }
    }

    .main-nav {
        .navbar-brand {
            img {
                height: 27px;
                margin-left: 15px;
            }
        }
    }

    .page-home-index {
        .box-search-tour {
            background-size: cover;
        }

        .tour-search-box {
            .origin-location, .destination-location, .start-date, .days {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .tour-item {
            .img {
                height: 220px;
            }
        }
    }
    .news-item {
        .img {
            height: 220px;
        }
    }

    .page-tour-contactinfo {
        #adult-num, #child-num, #infant-num {
            > div {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .page-list-tour {
        > .container {
            padding-left: 0;
            padding-right: 0;

            > .row {
                margin-left: 0;
                margin-right: 0;

                > .main-content {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .list-tours {
            .tour-item {
                display: block !important;
                box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);

                .line-clamp-1 {
                    overflow: inherit;
                    display: inherit;
                    height: inherit;
                }

                .mb-1 {
                    margin-bottom: 0.45rem !important;
                }

                .img {
                    width: inherit;
                }

                .title {
                    margin-bottom: 10px;
                }

                ul {
                    margin-top: 10px;
                }
            }
        }
    }
    .modal-dialog {
        margin: 0;
        padding: 0;
        max-height: inherit;
        min-height: 100%;

        .modal-content {
            border: 0;
            border-radius: 0;
            max-height: inherit;
            height: 100vh;
        }

        .modal-header {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    #modalLocation {
        .modal-body {
            padding: 20px 15px;
        }

        .modal-footer {
            display: none;
        }
    }

}

@media (max-width: 575px) {
    .page-tour-bookingconfirm {
        .container, .container-sm {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto !important;
    }
    .modal-dialog {
        min-height: inherit;

        .modal-content {
            height: inherit;
        }
    }
}