<footer>
    <section class="footer-info">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-3">
                    <h5>about us</h5>
                    <ul>
                        <li><a href="#">How to Book</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Products</h5>
                    <ul>
                        <li><a href="#">Flights</a></li>
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Flight + Hotel</a></li>
                        <li><a href="#">Attractions & Activities</a></li>
                        <li><a href="#">Airport Transport</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Others</h5>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Partner</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Register Your Hotel</a></li>
                        <li><a href="#">Press Room</a></li>
                    </ul>
                </div>
                <div class="col-md-3 contact-info">
                    <a href="#"><img src="/images/logo.png" alt=""></a>
                    <ul>
                        <li>16B Sông Đà, P2, Tân Bình, Hồ Chí Minh</li>
                        <li>Email: info@enviet-group.com </li>
                        <li>Website: www.enviet-group.com </li>
                    </ul>
                    <ul>
                        <li>Phone 1: (028) 7300.5050 (Hồ Chi Minh) </li>
                        <li>Phone 2: (024) 7300.5050 (Hà Nội) </li>
                        <li>Phone 3: (0236) 730.5050 (Đà nẵng)</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix">
                <div class="pull-left social clearfix">
                    <a href="#" class="facebook" title="Facebook">Facebook</a>
                    <a href="#" class="twitter" title="Twitter">Twitter</a>
                    <a href="#" class="instagram" title="Instagram">Instagram</a>
                    <a href="#" class="google" title="Google">Google</a>
                </div>
                <a href="#" class="pull-left bao-cong-thuong"><img src="~/images/ic/da-thong-bao-cong-thuong.png" alt=""></a>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">Copyright © 2019 enviet-group.com | All right reserved <br>Giấy phép ĐKKD số 0304955040 do Sở Kế hoạch đầu tư TP HCM cấp ngày 02/05/2009</div>
    </section>
</footer>