<meta charset="UTF-8">
<title>@ViewBag.Title</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" />

<environment include="Development">
    <link rel="stylesheet" href="~/lib/flexslider/flexslider.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">

</environment>

<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/flexslider/flexslider.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/custom.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.min.css" asp-append-version="true">
</environment>


