<div class="container hidden-xs" id="header">
    <div class="clearfix">
        <a class="navbar-brand" href="#"><img src="/images/logo.png" alt=""></a>
        <ul class="nav navbar-nav pull-right nav-services">
            <li class="flight"><a href="#">Flights</a></li>
            <li class="hotels"><a href="#">Hotels</a></li>
            <li class="tourists"><a href="#">Tourists</a></li>
            <li class="express"><a href="#">Express</a></li>
            <li class="login" v-if="false"><button type="button" class="" data-toggle="modal" data-target="#modalLogin">Đăng nhập</button></li>
        </ul>
    </div>
</div>