<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div v-if="operatorInfo">
        <ul class="nav user-info">
            <li class="nav-item">
                <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center dropdown">
                    <div class="user-content dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar-text rounded-circle">{{avatarText}}</span>
                        <h6>{{ operatorInfo.FullName }}</h6>
                        @*<p class="text-muted mb-0">{{ operatorInfo.UserName }}</p>*@
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownUserInfo">
                        <h6 class="dropdown-header">Cấu hình</h6>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-outline"></i> Tài khoản</a>
                        <a class="dropdown-item" href="#" v-on:click="onClickBtnLogout">
                            <i class="mdi mdi-logout"></i> Đăng xuất
                        </a>
                    </div>
                </div>

            </li>
        </ul>

        <ul class="nav ps ps--active-y">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Trang chủ</span>
                    <div class="badge badge-info badge-pill hidden">2</div>
                </a>
            </li>
            <li v-for="(item, index) in menus" :key="index" class="nav-item" v-bind:class="{'sidebar-category': item.icon == ''}">
                <p v-if="item.icon == ''">{{item.name}}</p>
                <a v-else class="nav-link" v-bind:href="item.url" v-bind:class="{ active: isActive(''+ item.url) }">
                    <i class="menu-icon" v-bind:class="item.icon"></i>
                    <span class="menu-title">{{item.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<script src="~/js/services/operator-service.js" asp-append-version="true"></script>