<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <div class="modal fade" v-bind:class="{show: show}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-modal="true">
        <div class="modal-dialog"  v-bind:class="size" role="document" >
            <div class="modal-content" >
                <div class="modal-header">
                    <slot name="header">
                    </slot>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @@click="$emit('close')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot name="body">
                    </slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer">
                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>