<div id="pageFirstLoading" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #f6f7fb; z-index: 9999;">
    <div class="loader-demo-box loading-first" style="">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>

