@{
    ViewBag.Title = "Danh sách người dùng";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <h4 class="card-title"><i class="mdi mdi-filter" aria-hidden="true"></i> Tìm kiếm</h4>
            <div class="card-body">
                <form class="forms-sample">
                    <div class="clearfix">
                        <div class="row">
                            <label class="col-sm-1" for="Email">Trạng thái</label>
                            <div class="col-sm-4">
                                <v-select v-model="filter.statusId"
                                          :options="userStatuses"
                                          :reduce="item => item.StatusId"
                                          label="StatusName" />
                            </div>
                            <div class="col-sm-4">
                                <button type="button" v-on:click="onClickSearch" class="btn btn-primary btn-icon-prepend btn-sm">
                                    <i class="mdi mdi-magnify"></i>
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <h4 class="card-title d-md-flex align-items-md-center">
        <i class="mdi mdi-table-large" aria-hidden="true"></i> @ViewBag.Title
        <button type="button" v-on:click="onClickCreateUser" class="btn btn-primary btn-icon-prepend btn-sm ml-md-auto">
            <i class="fa fa-plus"></i>
            Tạo mới
        </button>
    </h4>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="operator-table" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên đăng nhập</th>
                                <th>Họ và tên</th>
                                <th>Email</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/services/populate.service.js" asp-append-version="true"></script>
}
