body {
  font-size: 14px;
  line-height: 20px;
  color: #0c2345;
  font-family: "Open Sans", sans-serif; }

.content-wrapper {
  background: #f8f8f8; }

.table {
  color: #0c2345;
  border-bottom: 1px solid #e7eaed; }
  .table thead tr th {
    border-top: 1px solid #e7eaed;
    border-bottom: 1px solid #e7eaed !important;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    vertical-align: middle;
    line-height: 20px;
    font-family: "Open Sans", sans-serif; }
    .table thead tr th:nth-of-type(1) {
      text-align: center; }
  .table tr td {
    border-top-color: #e7eaed;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
    .table tr td:nth-of-type(1) {
      text-align: center; }
    .table tr td .btn {
      background: none;
      border: 0;
      color: #155aa9;
      box-shadow: none; }
      .table tr td .btn i {
        font-size: 20px; }
      .table tr td .btn:hover {
        color: #ff9800; }
    .table tr td .btn-edit {
      color: #155aa9; }
      .table tr td .btn-edit:hover {
        color: #ff9800; }
    .table tr td .btn-delete {
      color: red; }
      .table tr td .btn-delete:hover {
        color: #ff9800; }
    .table tr td .btn-config {
      color: mediumturquoise; }
      .table tr td .btn-config:hover {
        color: #ff9800; }

.sidebar {
  background: #155aa9;
  font-family: "Open Sans", sans-serif; }
  .sidebar .nav {
    max-height: inherit !important; }
    .sidebar .nav .nav-item .nav-link {
      color: #9eccff;
      padding: 13px 25px;
      transition: all 0.5s ease; }
      .sidebar .nav .nav-item .nav-link .menu-title {
        font-size: 14px;
        font-weight: normal;
        padding-top: 4px; }
      .sidebar .nav .nav-item .nav-link i.menu-icon {
        color: #9eccff;
        transition: all 0.5s ease; }
    .sidebar .nav .nav-item .active {
      background: #183188;
      color: #fff !important; }
      .sidebar .nav .nav-item .active:hover {
        background: #183188 !important;
        color: #fff !important; }
    .sidebar .nav .sidebar-category {
      margin: 25px 20px 7px 20px; }
      .sidebar .nav .sidebar-category p {
        text-transform: uppercase;
        color: #9eccff;
        font-size: 11px;
        font-weight: 600; }
    .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
      background: none;
      color: #ffffff; }
    .sidebar .nav:not(.sub-menu) > .nav-item:hover i.menu-icon {
      color: #ffffff; }
  .sidebar .nav.user-info .user-content {
    display: flex;
    align-items: center; }
    .sidebar .nav.user-info .user-content .avatar-text {
      background: #9eccff;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      margin-right: 15px;
      font-size: 18px; }
    .sidebar .nav.user-info .user-content h6 {
      margin: 0;
      flex: 1;
      margin-right: 15px;
      height: 20px;
      display: block;
      -webkit-line-clamp: 1;
      -webkit-box-orient: horizontal;
      text-overflow: ellipsis;
      max-width: 100px;
      overflow: hidden;
      text-transform: capitalize; }

.title-primary {
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  line-height: initial; }
  .title-primary .btn {
    margin-left: auto;
    font-size: 13px;
    text-transform: uppercase;
    line-height: inherit; }
    .title-primary .btn i {
      margin-right: 5px; }

div.dataTables_wrapper div.dataTables_length label {
  font-size: 12px;
  color: rgba(12, 35, 69, 0.6); }

div.dataTables_wrapper div.dataTables_length select {
  border: 1px solid #e7eaed;
  border-radius: 4px;
  outline: none;
  height: initial;
  padding: 8px; }

div.dataTables_wrapper div.dataTables_filter label {
  margin-right: 0; }

div.dataTables_wrapper div.dataTables_filter input {
  border: 1px solid #e7eaed;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
  height: 32px; }

div.dataTables_wrapper div.dataTables_info {
  font-size: 12px;
  color: rgba(12, 35, 69, 0.6); }

div.dataTables_wrapper div.dataTables_paginate .pagination .page-item .page-link {
  border-color: #e7eaed; }

div.dataTables_wrapper div.dataTables_paginate .pagination .page-item:hover .page-link {
  background: #ff9800;
  border-color: #ff9800; }

div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.active .page-link {
  background: #155aa9;
  border-color: #155aa9; }

div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.previous .page-link,
div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.next .page-link {
  font-size: 0;
  width: 40px;
  padding: 0;
  text-align: center;
  height: 35px;
  padding-top: 5px; }
  div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.previous .page-link:after,
  div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.next .page-link:after {
    font: normal normal normal 24px/1 "Material Design Icons"; }

div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.previous .page-link:after {
  content: "\F0141"; }

div.dataTables_wrapper div.dataTables_paginate .pagination .page-item.next .page-link:after {
  content: "\F0142"; }

/*.vs__dropdown-toggle {
    padding: 0;
    border-color: $border_color;

    .vs__selected-options {
        padding: 6px 5px 6px 5px;

        [type="search"] {
            outline-offset: 0;
            margin: 0;
            padding: 5px 10px;
        }
    }

    .vs__actions {
        padding: 4px 10px;
    }

    .vs__selected {
        padding: 3px 5px 3px 10px;
        margin: 0;
        border: 0;
        margin-right: 5px;
        background: none;

        button.vs__deselect {
            margin-left: 7px;
        }
    }
}*/
.form-control {
  border-radius: 5px;
  border-color: #e1e1e1;
  font-size: 14px;
  color: #000;
  height: 40px;
  font-family: "Open Sans", sans-serif; }

select.form-control {
  background: #fff;
  color: #000;
  outline: none;
  border: 1px solid #e7eaed; }

.vs__dropdown-toggle {
  border-color: #e7eaed;
  border-radius: 5px;
  height: 40px; }
  .vs__dropdown-toggle .vs__selected-options {
    padding-left: 5px; }
  .vs__dropdown-toggle .vs__open-indicator {
    fill: #999;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

.vs--open .vs__dropdown-toggle .vs__open-indicator {
  -webkit-transform: rotate(180deg) scale(0.75);
  transform: rotate(180deg) scale(0.75); }

.vs__dropdown-menu {
  border-color: #e7eaed; }
  .vs__dropdown-menu .vs__dropdown-option {
    padding: 7px 15px;
    font-weight: 500; }
  .vs__dropdown-menu .vs__dropdown-option--highlight {
    background: #155aa9; }

.form-horizontal .row {
  align-items: center; }

.form-horizontal label {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  padding-top: 0 !important; }

.form-horizontal .control-label {
  padding: 0 15px; }

.form-horizontal .btn-primary {
  background: #ff9800;
  border-color: #ff9800;
  color: #fff; }
  .form-horizontal .btn-primary:hover {
    background: #155aa9;
    border-color: #155aa9; }

.form-horizontal .form-group {
  margin-bottom: 15px; }

.modal {
  font-family: 'Open Sans', sans-serif;
  color: #0c2345;
  font-size: 14px;
  line-height: 20px; }
  .modal label {
    font-size: 12px;
    font-weight: 600;
    color: rgba(12, 35, 69, 0.8);
    margin-bottom: 4px; }
  .modal .form-group label {
    padding-top: 0; }
  .modal .modal-dialog .modal-content .modal-header {
    padding: 20px;
    border-bottom: 1px solid #e7eaed;
    background: #f8f8f8; }
    .modal .modal-dialog .modal-content .modal-header h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 600; }
    .modal .modal-dialog .modal-content .modal-header .close {
      margin: 0;
      padding: 10px;
      position: absolute;
      top: 7px;
      right: 10px;
      width: 44px;
      border-radius: 22px; }
  .modal .modal-dialog .modal-content .modal-footer {
    padding: 20px;
    border-top: 1px solid #e7eaed;
    background: #f8f8f8; }
  .modal .modal-dialog .modal-content .modal-body {
    padding: 20px; }
  .modal .sub-header {
    font-size: 16px;
    margin: 0 0 20px;
    color: #155aa9;
    text-transform: uppercase; }

.form-group label {
  padding-top: 5px;
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 600; }

.form-check-primary.form-check label input[type="checkbox"] + .input-helper:before,
.form-check-primary.form-check label input[type="radio"] + .input-helper:before {
  border-color: #155aa9; }

.form-check-primary.form-check label input[type="checkbox"]:checked + .input-helper:before,
.form-check-primary.form-check label input[type="radio"]:checked + .input-helper:before {
  background: #155aa9; }

.form-check .form-check-label {
  padding-top: 0;
  margin-left: 1rem;
  color: #0c2345; }
  .form-check .form-check-label input[type="checkbox"] + .input-helper:before,
  .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    top: 2px; }
  .form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    content: "\F012C"; }

.list-none-style {
  list-style: none;
  margin: 0;
  padding: 0; }

.product-group .title-primary {
  padding-top: 12px; }

.product-group .title-product {
  position: relative;
  padding-right: 18px;
  margin-right: 15px; }
  .product-group .title-product i {
    text-align: center;
    color: #ff9800;
    border-radius: 15px;
    position: absolute;
    top: -12px;
    right: 0; }
  .product-group .title-product .space {
    color: #0c2345;
    margin-right: 20px;
    text-decoration: none; }

.products {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px; }
  .products .product-item {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px; }
    .products .product-item .product-item-box {
      border: 1px solid #e7eaed;
      background: #fff;
      border-radius: 4px;
      padding: 10px;
      color: #fff;
      position: relative;
      overflow: hidden; }
      .products .product-item .product-item-box i.me {
        right: -3px;
        bottom: -9px;
        position: absolute;
        color: #fff; }
    .products .product-item .product-reservation-expired {
      position: absolute;
      right: 0;
      bottom: 32px;
      width: 32px;
      text-align: center;
      font-weight: 600;
      font-size: 12px; }
      .products .product-item .product-reservation-expired i {
        font-size: 20px; }
    .products .product-item .product-code {
      font-weight: bold;
      margin-bottom: 5px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: horizontal;
      text-overflow: ellipsis;
      overflow: hidden; }
    .products .product-item .product-attribute {
      padding: 1px 0; }
    .products .product-item .product-status {
      margin-top: 5px;
      font-weight: 600;
      font-size: 13px; }
      .products .product-item .product-status i {
        margin-right: 5px; }
    .products .product-item .NEW {
      color: #0c2345; }
      .products .product-item .NEW .product-code {
        color: #ff9800; }
      .products .product-item .NEW .product-status {
        color: #155aa9; }
    .products .product-item .RESERVATION {
      background-color: gray; }
    .products .product-item .ME-RESERVATION {
      background-color: #a6b727; }
    .products .product-item .DEPOSIT {
      background-color: orange; }
    .products .product-item .CONFIRMED {
      background-color: green;
      color: #fff; }
    .products .product-item .LOCK {
      background-color: black; }

.summary-search-result {
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: #ff9800;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-align: center; }

.product-summary-status {
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  align-items: center; }
  .product-summary-status span.note {
    margin-left: auto;
    font-size: 12px; }
  .product-summary-status ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    flex-wrap: wrap; }
    .product-summary-status ul li {
      padding: 2px 15px;
      border-radius: 20px;
      border: 1px solid #e7eaed;
      background: #fff;
      margin: 0 15px 5px 0;
      color: #fff; }
    .product-summary-status ul li.NEW {
      color: #155aa9; }
    .product-summary-status ul li.RESERVATION {
      background-color: gray;
      border-color: gray; }
    .product-summary-status ul li.DEPOSIT {
      background-color: orange;
      border-color: orange; }
    .product-summary-status ul li.CONFIRMED {
      background-color: green;
      border-color: green; }
    .product-summary-status ul li.LOCK {
      background-color: black;
      border-color: black; }

.modal {
  z-index: 998; }

.mce-tinymce.mce-panel {
  border-color: #e7eaed;
  box-shadow: none; }
  .mce-tinymce.mce-panel .mce-container, .mce-tinymce.mce-panel .mce-widget, .mce-tinymce.mce-panel .mce-reset {
    font-family: "Open Sans", sans-serif; }
  .mce-tinymce.mce-panel .mce-top-part:before {
    box-shadow: none; }
  .mce-tinymce.mce-panel .mce-panel {
    border-color: #e7eaed; }

.sidebar-icon-only .sidebar .nav.user-info .user-content .avatar-text {
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 10px; }

.sidebar-icon-only .sidebar .nav.user-info .user-content h6 {
  display: none; }

.sidebar-icon-only .sidebar .nav.user-info div.dropdown-menu {
  position: fixed !important;
  left: 65px !important;
  width: 180px;
  border: 0;
  top: -60px !important; }

.sidebar-icon-only .sidebar .dropdown .dropdown-toggle:after {
  display: none; }

ul.display-flex {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  ul.display-flex li {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    margin-bottom: 10px;
    display: flex; }
  ul.display-flex .text {
    width: 140px; }
  ul.display-flex .value {
    font-weight: 600; }

ul.display-flex-100 li {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
  display: flex; }

.product-view-detail .title-description {
  display: block;
  background: #f8f8f8;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #155aa9; }

#quick-buttons .btn.rounded-circle {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
  background: #ff9800;
  border-color: #ff9800;
  z-index: 9; }

.dropdown .dropdown-toggle:after {
  content: "\F035D"; }

.dataTables_wrapper .dataTable thead .sorting:before {
  content: "\F005D"; }

.dataTables_wrapper .dataTable thead .sorting:after {
  content: "\F0045"; }

.dataTables_wrapper .dataTable thead .sorting_asc:before {
  content: "\F005D"; }

.dataTables_wrapper .dataTable thead .sorting_asc:after {
  content: "\F0045"; }

.dataTables_wrapper .dataTable thead .sorting_desc:before {
  content: "\F005D"; }

.dataTables_wrapper .dataTable thead .sorting_desc:after {
  content: "\F0045"; }

.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before {
  content: "\F005D"; }

.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
  content: "\F005D"; }

.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
  content: "\F0045"; }

.form-control-button {
  position: relative;
  padding-right: 75px; }
  .form-control-button .btn-primary {
    position: absolute;
    right: 0;
    bottom: 0; }

.form-filter-collapse {
  min-height: 40px; }
  .form-filter-collapse .collapse-control {
    height: 40px;
    position: relative; }
  .form-filter-collapse .btn-collapse {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    /*width: 100%;*/
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    transition: visibility 0s, opacity 0.3s linear;
    display: flex;
    /*justify-content: center;*/ }
    .form-filter-collapse .btn-collapse i {
      margin-right: 10px; }
  .form-filter-collapse .collapse ~ .collapse-control .btn-minus {
    opacity: 0;
    visibility: hidden;
    left: inherit;
    width: inherit;
    font-weight: 600; }
  .form-filter-collapse .collapse.show ~ .collapse-control .btn-minus {
    opacity: 1;
    visibility: visible; }
  .form-filter-collapse .collapse.show ~ .collapse-control .btn-plus {
    opacity: 0;
    visibility: hidden; }

.modal-dialog .customer-info {
  border-right: 1px solid #e7eaed;
  margin-right: 20px;
  padding-right: 50px;
  min-height: 350px; }

.modal-dialog .cnt .row {
  align-items: center; }

.modal-dialog .deposit-project {
  position: relative; }
  .modal-dialog .deposit-project label {
    margin-bottom: 0; }
  .modal-dialog .deposit-project .title {
    font-size: 16px;
    color: #155aa9;
    margin-bottom: 30px; }
  .modal-dialog .deposit-project:after {
    content: '';
    left: 50%;
    top: 20px;
    bottom: 20px;
    width: 1px;
    background: #e7eaed; }

.convert-selection {
  color: #155aa9; }
  .convert-selection:hover {
    color: #ff9800; }
  .convert-selection i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle; }

.nav-tabs .nav-link {
  border-color: #e7eaed;
  background: #f3f7fb;
  font-weight: 600;
  text-transform: capitalize; }

.tab-content {
  border-color: #e7eaed; }

.form-check .form-check-label input[type="checkbox"]:disabled:checked + .input-helper:after {
  background: #9a9a9a; }

.form-check .form-check-label input[type="checkbox"]:disabled + .input-helper:before {
  border-color: #9a9a9a; }

.title-page-mobile {
  font-size: 16px;
  font-weight: 600;
  left: 20px;
  position: fixed;
  top: 25px;
  z-index: 9;
  text-transform: uppercase;
  color: #155aa9; }

.slide-images-item {
  position: relative; }
  .slide-images-item .btn-remove {
    position: absolute;
    top: -10px;
    right: 10px;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #e1e1e1; }
    .slide-images-item .btn-remove i.fa {
      font-size: 14px; }

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
  background-color: #e9ecef; }

.vs--disabled .vs__dropdown-toggle {
  border-color: #e1e1e1; }

table.nowrap td {
  vertical-align: middle; }

.group-check-box .sub {
  padding-left: 1.5rem; }

.list-tour-schedules .handle, .list-tour-schedules .close {
  cursor: pointer; }

.list-tour-schedules .handle {
  left: -3px;
  top: 10px; }

.list-tour-schedules .close {
  right: 0;
  top: 12px; }

.vs--single .vs__dropdown-toggle .vs__selected-options {
  white-space: nowrap;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-top: 4px; }

.swal-modal .swal-title {
  padding: 20px;
  font-size: 20px;
  color: #000;
  max-width: 375px;
  margin: 0 auto;
  line-height: 30px; }

.swal-modal .swal-footer {
  text-align: center;
  padding: 20px;
  margin-top: 0; }

.swal-modal .swal-button--confirm {
  background: #155aa9; }

#tbPassenger .show > .btn-danger.dropdown-toggle,
#tbPassenger .show .btn {
  background-color: transparent;
  border: 0;
  color: #ff9800;
  box-shadow: none; }

#tbPassenger .btn:focus {
  box-shadow: none;
  outline: none;
  border: 0;
  background: none;
  color: #ff9800; }

#tbPassenger .dropdown-menu ul {
  transform: translate3d(0px, 0px, 0px); }
